.imgmenu {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.imgmenu :hover {
  -webkit-transform: scale(1.5) rotate(-15deg);
  transform: scale(1.5) rotate(-15deg);
}
.logo {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  top: 2px;
  left: 3px;
  border: 2px solid #e0b439;
}

.navcarte {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background: black;
  color: #e0b439;
  margin-bottom: 20px;
}
.menu {
  background-color: #f2b366;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 345px;
  color: #e0b439;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.unecarte {
  padding: 20px;
  width: 90%;
  height: 330px;
  background: black;
  text-align: center;
  border-radius: 20px;
}

h1 {
  text-align: center;
  padding-bottom: 10px;
}
.nom {
  font-size: 20px;
  font-weight: bold;
}

.imgmenu {
  padding: 10px;
}

.dispo {
}

.description {
  font-family: fantasy;
  height: 20%;
}

.prix {
}

@media (max-width: 750px) {
  .menu {
    background-color: #f2b366;
    padding: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 345px;
    color: #e0b439;
  }
}
