{% extends 'base.html.twig' %}

{% block title %}Infos index{% endblock %}

{% block body %}
    <h1>Infos index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Adresse</th>
                <th>Telephone</th>
                <th>Mail</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for info in infos %}
            <tr>
                <td>{{ info.id }}</td>
                <td>{{ info.adresse }}</td>
                <td>{{ info.telephone }}</td>
                <td>{{ info.mail }}</td>
                <td>{{ info.description }}</td>
                <td>
                    <a href="{{ path('app_infos_show', {'id': info.id}) }}">show</a>
                    <a href="{{ path('app_infos_edit', {'id': info.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_infos_new') }}">Create new</a>
{% endblock %}
