{% extends 'base.html.twig' %}

{% block title %}Infos{% endblock %}

{% block body %}
    <h1>Infos</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ info.id }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ info.adresse }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ info.telephone }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ info.mail }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ info.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_infos_index') }}">back to list</a>

    <a href="{{ path('app_infos_edit', {'id': info.id}) }}">edit</a>

    {{ include('infos/_delete_form.html.twig') }}
{% endblock %}
