{% extends 'base.html.twig' %}

{% block title %}Carte index{% endblock %}

{% block body %}
    <h1>Carte index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Photo</th>
                <th>Disponibilite</th>
                <th>Description</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for carte in cartes %}
            <tr>
                <td>{{ carte.id }}</td>
                <td>{{ carte.nom }}</td>
                <td><img src= {{ asset('uploads/'~ carte.photo ) }} alt="{{carte.nom}}" style="width:200px; height:auto" /img></td>
                <td>{{ carte.disponibilite ? 'Yes' : 'No' }}</td>
                <td>{{ carte.description }}</td>
                <td>{{ carte.prix }}</td>
                <td>
                    <a href="{{ path('app_carte_show', {'id': carte.id}) }}">show</a>
                    <a href="{{ path('app_carte_edit', {'id': carte.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_carte_new') }}">Create new</a>
{% endblock %}
