{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href='/css/stylemenu.css' />

{% endblock %}


{% block body %}
<div class="navcarte">
  <img class="logo" src="https://i.ibb.co/HFkcSgh/logo.png" alt="logo du restaurant dead cow diner">
    <h1>Notre Carte</h1>
</div>
    
        
     <div class="menu">
        {% for carte in cartes %}
                <div class="unecarte">
                
                <div class="nom">{{ carte.nom }}</div>
                <div class="imgmenu"><img src= {{ asset('uploads/'~ carte.photo ) }} alt="{{carte.nom}}" style="width:80%; height:150px" /img></div>
                
                <div class="description">{{ carte.description }}</div>
                <div class="prix">{{ carte.prix }} euros</div>
                </div>
                  
        {% endfor %}
        
                </div>
            
    
        
  

    
{% endblock %}
