{% extends 'base.html.twig' %}

{% block title %}New Carte{% endblock %}

{% block body %}

<div class="mx-auto" style="width: 200px;margin-top: 5em;"> 
   <h1>Create new Carte</h1>
    {{ include('carte/_form.html.twig') }}
    <a href="{{ path('app_carte_index') }}">back to list</a>
</div>
    
{% endblock %}
