{% extends 'base.html.twig' %}

{% block title %}Carte{% endblock %}

{% block body %}
 

    <h1>Carte</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ carte.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ carte.nom }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ carte.photo }}</td>
            </tr>
            <tr>
                <th>Disponibilite</th>
                <td>{{ carte.disponibilite ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ carte.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ carte.prix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_carte_index') }}">back to list</a>

    <a href="{{ path('app_carte_edit', {'id': carte.id}) }}">edit</a>

    {{ include('carte/_delete_form.html.twig') }}
{% endblock %}
